*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
 scroll-behaviour: smooth;
}

.cat-header {
   text-align: center;
   color: grey;
   text-transform: uppercase;
   padding: 2rem;
   border-top: 1px solid #EBDED1;

}

.main-container{
  min-height: calc(100vh - 390px);
}

.footer-pin{
  position: relative;
  left: 0;
  bottom: 0;
}

.card-img {
 height: 10px;
}

#topbanner{
  padding: 1px;
  font-size: 15px;
  margin: 0;
  background-color: #EBDED1;
  color: #7a5230;
}

#navbar{
  background-color: white;
  padding: 35px ;
  align-content: center;

}

#navlinks{
  align-content: flex-end;
}

#banner{
  height: 825px;
  width: 100%;
}
/*
.catbanner-img{
  width: 100%;
  max-height: 200px;

}
*/

#cartIcon {
  height: 100%;
  width: 155%
}

/*#notification {
  height: 50%;
  border-radius: 100;
  vertical-align: super;
  font-size: smaller;
}
*/
#shopnow-btn{
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: transparent;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
}


.categoriesImg{
  width: 100%;
  height: 450px;
}

#login-img{
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.nav-link {
  color:  grey !important;
}

.img-adminView{
  width: 10rem;
  max-height: 10rem;
}




.footer{
  background-color: #EBDED1;
  color: #7a5230;
  font-size: 15px;
  width: 100%;
 
}





@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&family=Poppins:wght@200&display=swap');